body {
    background-color: #ffc6ff;
    margin: 20px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;

}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    font-size: 2em;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.title p {
    margin-top: 0;
}

.title a {
    font-size: 0.45em;
    color: #333;
}